.content-section-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
  max-height: 500px;
}

.content-section-article {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  z-index: 2;
}

.content-section-header {
  font-size: 3.5rem;
  font-weight: 700;
}

.content-section-secondary-header {
  font-size: 2.5rem;
  font-weight: 400;
}

.content-section-image {
  height: calc(100vh - 88px);
  max-height: 500px;
  display: flex;
  justify-content: right;
  z-index: 2;
}

.content-section-description {
  font-size: 1em;
}

.content-section-call-to-action {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.content-section-decoration {
  width: 700px;
  height: 700px;
  background-color: #00ffb3;
  position: absolute;
  z-index: 1;
  rotate: -60deg;
  border-radius: 100px;
  top: -380px;
  right: -200px;
}

@media (width <= 768px) {
  .content-section-container {
    grid-template-columns: 1fr;
    height: auto;
  }
  .content-section-image {
    display: none;
  }
  .content-section-header {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  .content-section-secondary-header {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
  .content-section-article {
    gap: 40px;
  }
  .content-section-call-to-action {
    justify-content: center;
    flex-wrap: wrap;
  }
  .content-section-description {
    font-size: 0.9em;
    text-align: center;
  }
  .content-section-decoration {
    display: none;
  }
}
